.hero {
  background-color: #37474f;
}
.hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: $white;
}
.hero__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}
.hero__page-link {
  font-size: 20px;
  line-height: 25px;
  color: $white;
  background-color: #dfbb7f;
  padding: 15px 0 15px 18px;
  border-radius: 8px;
}
.hero__tel-link {
  font-size: 20px;
  line-height: 25px;
  color: $white;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 0 15px 18px;
}
