
.portfolio__content {
  @include flex;
  margin-bottom: 40px;
}

.portfolio__info {
  margin-right: 351px;
}
.portfolio__info-title-sml {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #23049d;
  margin-bottom: 5px;
}
.portfolio__info-line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background-color: #37474f;
}
.portfolio__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  color: $maincolor;
}

.page-links-list {
  @include flex;
  margin-top: 20px;
}
.page-links__item {
  width: 180px;
  height: 50px;
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #191c2f;
  border-radius: 10px;
  color: $maincolor;
}
.page-links__item:hover {
  background-color: #dfbb7f;
}
.page-links__item:active {
  opacity: 0.5;
}
.page-links__item:not(:last-child) {
  margin-right: 15px;
}
.page-links__link {
  display: inline-block;
  color: $maincolor;
}
.scelate {
  margin-bottom: 120px;
}
.scelate__list {
  display: grid;
  grid-template-columns: repeat(4, 315px);
  grid-template-rows: repeat(2, 247px);
  gap: 20px;
}

.scelate__item {
  height: 247px;
  background: #d9d9d9;
  border-radius: 10px;
}
.item1 {
  width: 650px;
  height: 518px;
  display: inline-block;
}
.scelate__link {
  width: 156px;
  height: 45px;
  display: inline-block;
  margin: 60px 0 0 580px;
  padding: 15px 27px;
  background: #dfbb7f;
  border-radius: 8px;
  color: $white;
  position: relative;
}
.scelate__link-img {
  position: absolute;
  top: 12px;
  margin-left: 20px;
}
<<<<<<< HEAD
@media screen and (max-width: 990px) {
  .portfolio__content {
    display: block;
    margin-bottom: 20px;
  }
  .portfolio__info {
    margin-right: 0;
  }
  .portfolio__info-title-sml {
    font-size: 16px;
    line-height: 20px;
  }
  .portfolio__title {
    font-size: 40px;
    line-height: 50px;
  }
  .page-links-list {
    margin-top: 40px;
  }
  .scelate {
    margin-bottom: 90px;
  }
  .scelate__list {
    grid-template-columns: repeat(2, 387px);
  }
  .item1 {
    width: 794px;
  }
  .scelate__link {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .portfolio__info {
    margin-bottom: 40px;
  }
  .page-links-list {
    display: none;
  }
  .scelate__list {
    grid-template-columns: repeat(1, 374px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
  }
  .scelate__item {
    height: inherit;
  }
  .scelate__item:nth-child(1) {
    display: none;
  }
  .scelate__item:nth-child(2) {
    display: none;
  }
  .scelate__item:nth-child(3) {
    display: none;
  }
  .scelate__item:nth-child(4) {
    display: none;
  }
  .item1 {
    display: none;
  }
}
=======

>>>>>>> f03f48f61cc9638b6778b5c3829ff921f3b8e24a
