.portfolio__content {
  @include flex;
}
.portfolio__info {
  margin-right: 416px;
}
.portfolio__info-title-sml {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #23049d;
  margin-bottom: 5px;
}
.portfolio__info-line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background-color: #37474f;
}
.porfolio__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  color: $maincolor;
}

.page-links-list {
  @include flex;
  margin-top: 10px;
}
.page-links__item {
  width: 180px;
  height: 50px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #191c2f;
  border-radius: 10px;
  color: $maincolor;
}
.page-links__item:not(:last-child) {
  margin-right: 15px;
}
.page-links__link {
  display: inline-block;
  color: $maincolor;
}
